.DS_Store
.idea/*
.storybook/image-snapshots/actual
.storybook/image-snapshots/diff
.storybook/image-snapshots/report.html
.storybook/image-snapshots/report.json
# Dependency directory
node_modules

dist
yarn-error.log
stats
tsconfig.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/*/.yarn/*
!packages/*/.yarn/patches
!packages/*/.yarn/plugins
!packages/*/.yarn/releases
!packages/*/.yarn/sdks
!packages/*/.yarn/versions

# Storybook static build
storybook-static

