.DS_Store
.idea/*
.storybook/image-snapshots/actual
.storybook/image-snapshots/diff
.storybook/image-snapshots/report.html
.storybook/image-snapshots/report.json
# Dependency directory
node_modules

dist
yarn-error.log
stats
tsconfig.tsbuildinfo

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

packages/visual-regressions/.yarn/*
!packages/visual-regressions/.yarn/patches
!packages/visual-regressions/.yarn/plugins
!packages/visual-regressions/.yarn/releases
!packages/visual-regressions/.yarn/sdks
!packages/visual-regressions/.yarn/versions

# Storybook static build
storybook-static

