:root {
  --sscds-space-none: 0;
  --sscds-space-half-x: calc(var(--sscds-space-1x) / 2); /* 2px */
  --sscds-space-1x: 0.25rem; /* 1x = 4px */
  --sscds-space-2x: calc(var(--sscds-space-1x) * 2); /* 8px */
  --sscds-space-3x: calc(var(--sscds-space-1x) * 3); /* 12px */
  --sscds-space-4x: calc(var(--sscds-space-1x) * 4); /* 16px */
  --sscds-space-5x: calc(var(--sscds-space-1x) * 5); /* 20px */
  --sscds-space-6x: calc(var(--sscds-space-1x) * 6); /* 24px */
  --sscds-space-8x: calc(var(--sscds-space-1x) * 8); /* 32px */
  --sscds-space-10x: calc(var(--sscds-space-1x) * 10); /* 40px */
  --sscds-space-12x: calc(var(--sscds-space-1x) * 12); /* 48px */
  --sscds-space-16x: calc(var(--sscds-space-1x) * 16); /* 64px */
  --sscds-space-24x: calc(var(--sscds-space-1x) * 24); /* 96x */
  --sscds-space-32x: calc(var(--sscds-space-1x) * 32); /* 128px */

  --sscds-space-negative-half-x: calc(var(--sscds-space-negative-1x) / 2);
  --sscds-space-negative-1x: -0.25rem;
  --sscds-space-negative-2x: calc(var(--sscds-space-negative-1x) * 2);
  --sscds-space-negative-3x: calc(var(--sscds-space-negative-1x) * 3);
  --sscds-space-negative-4x: calc(var(--sscds-space-negative-1x) * 4);
  --sscds-space-negative-6x: calc(var(--sscds-space-negative-1x) * 6);
  --sscds-space-negative-8x: calc(var(--sscds-space-negative-1x) * 8);
  --sscds-space-negative-12x: calc(var(--sscds-space-negative-1x) * 12);
  --sscds-space-negative-16x: calc(var(--sscds-space-negative-1x) * 16);
  --sscds-space-negative-24x: calc(var(--sscds-space-negative-1x) * 24);
  --sscds-space-negative-32x: calc(var(--sscds-space-negative-1x) * 32);

  --sscds-space-dialog-content-padding: var(--sscds-space-6x);

  --sscds-space-grid-gutter: 1.875rem; /* LEGACY VALUE - should be replaced with 8x */
}
