:root {
  --sscds-space-none: 0;
  --sscds-space-half-x: calc(var(--sscds-space-1x) / 2);
  --sscds-space-1x: 0.25rem;
  --sscds-space-2x: calc(var(--sscds-space-1x) * 2);
  --sscds-space-3x: calc(var(--sscds-space-1x) * 3);
  --sscds-space-4x: calc(var(--sscds-space-1x) * 4);
  --sscds-space-6x: calc(var(--sscds-space-1x) * 6);
  --sscds-space-8x: calc(var(--sscds-space-1x) * 8);
  --sscds-space-12x: calc(var(--sscds-space-1x) * 12);
  --sscds-space-16x: calc(var(--sscds-space-1x) * 16);
  --sscds-space-24x: calc(var(--sscds-space-1x) * 24);
  --sscds-space-32x: calc(var(--sscds-space-1x) * 32);

  --sscds-space-grid-gutter: 1.875rem; /* LEGACY VALUE - should be replaced with 8x */
}
